<h2>Sensor Details</h2>
<!-- <div *ngIf="sensor; else loading">
    <h2>Sensor Details</h2>
    <div>
      <h3>{{ sensor.name }}</h3>
      <p><strong>Color:</strong> {{ sensor.color }}</p>
      <p><strong>Category:</strong> {{ sensor.category }}</p>
      <p><strong>Description:</strong> {{ sensor.description }}</p>
      <p><strong>Visibility:</strong> {{ sensor.visibility }}</p>
    </div>
  </div> -->
  
  <!-- Loading state when the sensor data is not yet available -->
  <!-- <ng-template #loading>
    <p>Loading sensor details...</p>
  </ng-template> -->
  