<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      
      <!-- Photo Field -->
      <div class="photo-field">
        <div class="photo-upload" (click)="fileInput.click()">
          <div class="photo-circle">
            <img *ngIf="selectedImage" [src]="selectedImage" class="photo-selected" alt="User Photo" />
            <img *ngIf="!selectedImage" src="assets/camera.svg" class="camera-icon" alt="Camera Icon" />
          </div>
        </div>
        <input #fileInput id="photo" formControlName="picture" type="file" (change)="onImageSelected($event)" hidden />
        <p class="choose-image">Choose image</p>
      </div>
  
      <!-- Name Field -->
      <div class="input-field">
        <mat-list-item *ngIf="user.id === uuid;" class="user-data">
          <div class="user-info">
            <span class="user-name">{{ user.name }}</span>
          </div>
      </mat-list-item>
        
        <!-- <div *ngIf="userForm.controls['name'].touched" >
          <mat-form-field appearance="fill">
            <input matInput id="email" formControlName="email" type="email" />
          </mat-form-field>
          <small *ngIf="userForm.controls['name'].touched && userForm.controls['name'].hasError('required')" class="error">
            Name cannot be empty (required field).
          </small>
        </div> -->
      </div> 

  
      <!-- Email Field -->
      <div class="input-field">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput id="email" formControlName="email" type="email" />
        </mat-form-field>
        <small *ngIf="emailError" class="error">{{ emailError }}</small>
      </div>
  
      <!-- Phone Field -->
      <div class="input-field">

        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput id="phone" formControlName="phone" type="text" />
        </mat-form-field>
        <small *ngIf="phoneError" class="error">{{ phoneError }}</small>
      </div>
  
      <!-- Role Field -->
      <div class="input-field">
        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="admin">ADM</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Submit and Cancel Buttons -->
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
          Create</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  