<div class="login-container">
  <div class="left-side">
    <img src="/assets/login-photo.jpeg" alt="Login Photo" class="login-photo" />
  </div>
  
  <div class="right-side">
    <div class="content-wrapper">
      <div class="symbol">
        <img src="/assets/uno-symbol.png" alt="Symbol" />
      </div>
      <h2>Welcome!</h2>
      <p class="subtitle">Enter your credentials to access your account.</p>
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input #UserEmail id="email" required placeholder="username@email.com" />
      </div>
      
      <div class="form-group">
        <label for="password">Password:</label>
        <input #UserPassword id="password" type="password" required placeholder="Insert your password" />
      </div>
      
      <span class="forgot-password">Forgot my password</span>

      <button type="button" class="add-button" (click)="login(UserEmail.value, UserPassword.value)">
        Enter
      </button>
    </div>
  </div>
</div>
